<div class="container">

    <!--Title-->
    <div class="row pt-4 pb-3">
        <div class="col-lg-6 col-sm-12 text-start mb-3 mb-sm-0">
            <h2 class="text-primary">Reports & Analytics</h2>
        </div>
    </div>

    <div class="row pt-4 pb-3">
        <div class="col-3">
            <h4>Sales Performance</h4>
        </div>

        <div class="col-3">
            <div class="alert alert-dismissible alert-success">
                <p>Sales Revenue</p>
                <strong>Php</strong> @ViewBag.SalesRevenue
            </div>
        </div>

        <div class="col-3">
            <div class="alert alert-dismissible alert-success">
                <p>Gross Profit</p>
                <strong>Php</strong> @ViewBag.Profit
            </div>
        </div>

        <div class="col-3">
            <div class="alert alert-dismissible alert-success">
                <span>
                    <p># of Items Sold</p> @ViewBag.NumberOfItemsSold
                </span>
            </div>
        </div>
    </div>

    <div class="row pt-4 pb-3">

    </div>
</div>